# Changes to files that will be ignored by git
# Uses glob pattern. Ex: '*.exe' ignores all files ending with '.exe'.
*.exe
*.bin
.devcontainer/compose.active.yml
.DS_Store
credentials.json
token.json

# Changes to folders that will be ignored by git.
# Format: [folder_name]/
.vscode/
install/
build/
log/

# Perception
*.py[cod]
*.svo
*.svo2
*.area

__pycache__/
.pytest_cache/
test-output/
.tmp-tests/
perception/recordings/
perception/training_frames/
runs/